Repository Char2sGu/reply: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(reply): optimize scroll restoration implementation
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.ts
  projects/reply/src/app/standalone/content/content.component.html
  projects/reply/src/app/standalone/content/content.component.ts
Due: eslint --fix, prettier --write

feat(reply): clean up layout projection styles after animation
  projects/reply/src/app/layout-projection/core/layout-animation.ts
Due: eslint --fix, prettier --write

refactor(reply): restore overlay container once bottom menu closes
  projects/reply/src/app/core/bottom-nav/bottom-nav.component.ts
Due: eslint --fix, prettier --write

feat(reply): show mail card actions on tablet portrait
  projects/reply/src/app/mails/mail-card/mail-card.component.html
Due: prettier --write

refactor(reply): cleaning
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.html
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.ts
Due: eslint --fix, prettier --write

feat(reply): preserve mail list elements in layout animation
  projects/reply/src/app/mails/mail-detail-layout/mail-detail-layout.component.scss
  projects/reply/src/app/mails/mails-routing.module.ts
  projects/reply/src/app/mails/mails.component.html
  projects/reply/src/app/mails/mails.component.ts
Due: eslint --fix, prettier --write

feat(reply): add layout animation between mail lists
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.html
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.ts
Due: eslint --fix, prettier --write

chore: add license
  LICENSE
Due: none

docs: update readme
  README.md
  res/reply-cover.png
Due: prettier --write

Auto-generated commit [ci skip]
  104.1e2b915651a75201.js
  110.d0d2fc6ff4f115d9.js
  395.9da4a81fd98b55f2.js
  3rdpartylicenses.txt
  404.html
  680.7acc7105b602a143.js
  730.79fbc3ae5e5fb2cd.js
  assets/avatar-1.jpg
  assets/avatar-2.jpg
  assets/avatar-3.jpg
  assets/avatar-4.jpg
  assets/avatar-5.jpg
  assets/avatar-6.jpg
  assets/avatar-express.png
  assets/icons.svg
  assets/icons/icon-128x128.png
  assets/icons/icon-144x144.png
  assets/icons/icon-152x152.png
  assets/icons/icon-192x192.png
  assets/icons/icon-384x384.png
  assets/icons/icon-512x512.png
  assets/icons/icon-72x72.png
  assets/icons/icon-96x96.png
  assets/logo.svg
  favicon.ico
  index.html
  main.71824e19a381d0da.js
  manifest.webmanifest
  ngsw-worker.js
  ngsw.json
  polyfills.e895bce5bdcd3cbf.js
  runtime.71c0e0b1c6c5a9e6.js
  safety-worker.js
  styles.cb7cfe8d1aed2aaf.css
  worker-basic.min.js
Due: prettier --write

build(reply): add ng ghpages deployment
  angular.json
  package-lock.json
  package.json
Due: prettier --write

fix(reply): fix asset path
  projects/reply/src/app/compose/compose.component.html
Due: prettier --write

Auto-generated commit [ci skip]
  404.html
  680.7acc7105b602a143.js
  680.dd24776ae1cdda9d.js
  index.html
  ngsw.json
  runtime.71c0e0b1c6c5a9e6.js
  runtime.d9eb8d0ad4e9adf0.js
Due: prettier --write

feat(reply): handle shared-element layout animation old element
  projects/reply/src/app/layout-projection/core/layout-animation.ts
Due: eslint --fix, prettier --write

feat(layout-projection): extract as library
  angular.json
  package-lock.json
  package.json
  projects/layout-projection/README.md
  projects/layout-projection/karma.conf.js
  projects/layout-projection/ng-package.json
  projects/layout-projection/package.json
  projects/layout-projection/src/lib/core/core.ts
  projects/layout-projection/src/lib/core/index.ts
  projects/layout-projection/src/lib/core/layout-animation.ts
  projects/layout-projection/src/lib/core/layout-measurement.ts
  projects/layout-projection/src/lib/core/layout-projection.ts
  projects/layout-projection/src/lib/layout-animation.directive.ts
  projects/layout-projection/src/lib/layout-projection-node.directive.ts
  projects/layout-projection/src/lib/layout-projection.module.ts
  projects/layout-projection/src/public-api.ts
  projects/layout-projection/src/test.ts
  projects/layout-projection/tsconfig.lib.json
  projects/layout-projection/tsconfig.lib.prod.json
  projects/layout-projection/tsconfig.spec.json
  projects/reply/src/app/app.component.ts
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.html
  projects/reply/src/app/mails/mail-card/mail-card.component.html
  projects/reply/src/app/mails/mail-detail-layout/mail-detail-layout.component.html
  projects/reply/src/app/mails/mail-detail-layout/mail-detail-layout.component.ts
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.html
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.ts
  projects/reply/src/app/mails/mail/mail.component.html
  projects/reply/src/app/mails/mails.component.html
  projects/reply/src/app/mails/mails.component.ts
  projects/reply/src/app/mails/mails.module.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(reply): implement special style for starred mail card on mobile
  projects/reply/src/app/mails/mail-card/mail-card.component.html
  projects/reply/src/app/mails/mail-card/mail-card.component.scss
  projects/reply/src/app/mails/mail-card/mail-card.component.ts
Due: eslint --fix, prettier --write

refactor(reply): optimize reactivity object implementation
  projects/reply/src/app/common/reactivity.ts
  projects/reply/src/app/core/layout.context.ts
  projects/reply/src/app/core/navigation.context.ts
Due: eslint --fix, prettier --write

refactor(reply): rename data services to repositories
  projects/reply/src/app/core/auth.service.ts
  projects/reply/src/app/core/navigation.context.ts
  projects/reply/src/app/data/contact-ref.pipe.ts
  projects/reply/src/app/data/contact.repository.ts
  projects/reply/src/app/data/mail.repository.ts
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.ts
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mail-card/mail-card.component.ts
  projects/reply/src/app/mails/mail/mail.component.ts
  projects/reply/src/app/search/search.component.ts
Due: eslint --fix, prettier --write

refactor(reply): make entity records readonly
  projects/reply/src/app/data/contact.records.ts
  projects/reply/src/app/data/mail.records.ts
Due: eslint --fix, prettier --write

refactor(reply): redesign repository reactivity
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/common/reactivity.ts
  projects/reply/src/app/common/repository.ts
  projects/reply/src/app/core/auth.service.ts
  projects/reply/src/app/core/exceptions.ts
  projects/reply/src/app/data/contact-ref.pipe.ts
  projects/reply/src/app/data/contact.repository.ts
  projects/reply/src/app/data/mail.repository.ts
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.ts
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mail-card/mail-card.component.ts
  projects/reply/src/app/mails/mail/mail.component.ts
  projects/reply/src/app/search/search.component.ts
Due: eslint --fix, prettier --write

refactor(reply): correct repository injection variable names
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/core/auth.service.ts
  projects/reply/src/app/data/contact-ref.pipe.ts
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.ts
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mail-card/mail-card.component.ts
  projects/reply/src/app/mails/mail/mail.component.ts
  projects/reply/src/app/search/search.component.ts
Due: eslint --fix, prettier --write

refactor(reply): use enum for built-in nav menu item names
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/core/nav-menu/nav-menu.component.html
  projects/reply/src/app/core/nav-menu/nav-menu.component.ts
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
Due: eslint --fix, prettier --write

refactor(reply): redesign auth service
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/core/auth.service.ts
  projects/reply/src/app/core/authenticator.service.ts
  projects/reply/src/app/mails/mail/mail.component.ts
Due: eslint --fix, prettier --write

refactor(reply): impl entity collection to simplify repository logic
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/common/repository.ts
  projects/reply/src/app/data/contact.repository.ts
  projects/reply/src/app/data/mail.repository.ts
Due: eslint --fix, prettier --write

fix(reply): fix mail card cursor style
  projects/reply/src/app/mails/mail-card/mail-card.component.scss
Due: prettier --write

fix(reply): fix injection for bottom menu actions template
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.ts
  projects/reply/src/app/mails/core/mail-list-refresh.event.ts
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
Due: eslint --fix, prettier --write

docs: add link to material motion demo
  README.md
Due: prettier --write

docs(layout-projection): update readme
  projects/layout-projection/README.md
Due: prettier --write

chore: disable angular cli analytics
  angular.json
Due: prettier --write

build: update typescript to v4.9.5
  package-lock.json
  package.json
Due: prettier --write

build: update angular core and cli to v15
  package-lock.json
  package.json
  projects/flip/src/test.ts
  projects/layout-projection/src/test.ts
  projects/reply/.browserslistrc
  projects/reply/src/test.ts
  projects/scrolling/src/test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

build: update angular material and cdk to v15
  package-lock.json
  package.json
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/compose/compose.module.ts
  projects/reply/src/app/mails/mails.module.ts
  projects/reply/src/app/search/search.module.ts
  projects/reply/src/app/standalone/search-button/search-button.component.ts
  projects/reply/src/app/standalone/settings-button/settings-button.component.ts
  projects/reply/src/styles/_theming.scss
  projects/reply/src/styles/index.scss
Due: eslint --fix, prettier --write

chore: use workspace typescript version for vscode
  .vscode/settings.json
Due: prettier --write

refactor: use separated layout-projection library
  package-lock.json
  package.json
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.html
  projects/reply/src/app/mails/mail-card/mail-card.component.html
  projects/reply/src/app/mails/mail-detail-layout/mail-detail-layout.component.html
  projects/reply/src/app/mails/mail-detail-layout/mail-detail-layout.component.ts
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.html
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.ts
  projects/reply/src/app/mails/mail/mail.component.html
  projects/reply/src/app/mails/mails.component.html
  projects/reply/src/app/mails/mails.component.ts
  projects/reply/src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

refactor: remove unused libraries
  angular.json
  package-lock.json
  package.json
  projects/flip/README.md
  projects/flip/karma.conf.js
  projects/flip/ng-package.json
  projects/flip/package.json
  projects/flip/src/lib/flip-item.directive.spec.ts
  projects/flip/src/lib/flip-item.directive.ts
  projects/flip/src/lib/flip-scope.directive.spec.ts
  projects/flip/src/lib/flip-scope.directive.ts
  projects/flip/src/lib/flip.module.ts
  projects/flip/src/public-api.ts
  projects/flip/src/test.ts
  projects/flip/tsconfig.lib.json
  projects/flip/tsconfig.lib.prod.json
  projects/flip/tsconfig.spec.json
  projects/layout-projection/README.md
  projects/layout-projection/karma.conf.js
  projects/layout-projection/ng-package.json
  projects/layout-projection/package.json
  projects/layout-projection/src/lib/core/core.ts
  projects/layout-projection/src/lib/core/index.ts
  projects/layout-projection/src/lib/core/layout-animation.ts
  projects/layout-projection/src/lib/core/layout-measurement.ts
  projects/layout-projection/src/lib/core/layout-projection.ts
  projects/layout-projection/src/lib/layout-animation.directive.ts
  projects/layout-projection/src/lib/layout-projection-node.directive.ts
  projects/layout-projection/src/lib/layout-projection.module.ts
  projects/layout-projection/src/public-api.ts
  projects/layout-projection/src/test.ts
  projects/layout-projection/tsconfig.lib.json
  projects/layout-projection/tsconfig.lib.prod.json
  projects/layout-projection/tsconfig.spec.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: clean up tsconfig
  tsconfig.json
Due: prettier --write

build: update layout-projection dep
  package-lock.json
  package.json
Due: prettier --write

refactor: update layout projection lib to v0.5.1
  package-lock.json
  package.json
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.html
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mail-detail-layout/mail-detail-layout.component.ts
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.html
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.ts
  projects/reply/src/app/mails/mails.component.html
  projects/reply/src/app/mails/mails.component.ts
Due: eslint --fix, prettier --write

refactor(reply): avoid cjs modules
  projects/reply/src/app/data/mail.records.ts
  projects/reply/src/app/search/search-result-list/search-result-list.component.ts
  projects/reply/src/app/standalone/readable-date.pipe.ts
Due: eslint --fix, prettier --write

refactor(reply): eliminate sass warnings
  projects/reply/src/styles/_theming.scss
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{html,css,less,scss,sass,ts,js,json,md}
