Repository Char2sGu/reply: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(reply): adjust pwa app name
  projects/reply/src/manifest.webmanifest
Due: none

chore(reply): update pwa icons
  projects/reply/src/assets/icons/icon-128x128.png
  projects/reply/src/assets/icons/icon-144x144.png
  projects/reply/src/assets/icons/icon-152x152.png
  projects/reply/src/assets/icons/icon-192x192.png
  projects/reply/src/assets/icons/icon-384x384.png
  projects/reply/src/assets/icons/icon-512x512.png
  projects/reply/src/assets/icons/icon-72x72.png
  projects/reply/src/assets/icons/icon-96x96.png
Due: none

chore(reply): adjust pwa app short name
  projects/reply/src/manifest.webmanifest
Due: none

chore(reply): enable sw caching for google font urls
  projects/reply/ngsw-config.json
Due: prettier --write

feat(reply): allow closing bottom menu by going back in history
  projects/reply/src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor(reply): improve stability of bottom menu closing by history
  projects/reply/src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor(reply): extract nav logo button component
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/core/nav-logo-button/nav-logo-button.component.html
  projects/reply/src/app/core/nav-logo-button/nav-logo-button.component.scss
  projects/reply/src/app/core/nav-logo-button/nav-logo-button.component.ts
  projects/reply/src/app/core/nav/nav.component.html
  projects/reply/src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

refactor(reply): avoid handling breakpoints in nav menu component
  projects/reply/src/app/core/nav-menu/nav-menu.component.html
  projects/reply/src/app/core/nav-menu/nav-menu.component.scss
  projects/reply/src/app/core/nav-menu/nav-menu.component.ts
  projects/reply/src/app/core/nav/nav.component.html
Due: eslint --fix, prettier --write

refactor(reply): extract nav bottom menu component
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/core/nav-bottom-menu/nav-bottom-menu.component.html
  projects/reply/src/app/core/nav-bottom-menu/nav-bottom-menu.component.scss
  projects/reply/src/app/core/nav-bottom-menu/nav-bottom-menu.component.ts
  projects/reply/src/app/core/nav/nav.component.html
  projects/reply/src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

refactor(reply): clean up nav code
  projects/reply/src/app/core/nav/nav.component.html
  projects/reply/src/app/core/nav/nav.component.scss
Due: prettier --write

refactor(reply): redesign the foundation structure
  projects/reply/src/app/app-routing.module.ts
  projects/reply/src/app/app.component.html
  projects/reply/src/app/app.component.scss
  projects/reply/src/app/app.component.ts
  projects/reply/src/app/app.module.ts
  projects/reply/src/app/core/foundation/foundation.component.html
  projects/reply/src/app/core/foundation/foundation.component.scss
  projects/reply/src/app/core/foundation/foundation.component.ts
Due: eslint --fix, prettier --write

feat(reply): add redirection route for unknown paths
  projects/reply/src/app/app-routing.module.ts
Due: eslint --fix, prettier --write

refactor(reply): avoid handling breakpoints in nav
  projects/reply/src/app/app.component.html
  projects/reply/src/app/core/foundation/foundation.component.html
  projects/reply/src/app/core/nav/nav.component.html
  projects/reply/src/app/core/nav/nav.component.scss
  projects/reply/src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

fix(reply): fix app component change detection
  projects/reply/src/app/app.component.html
  projects/reply/src/app/app.component.ts
Due: eslint --fix, prettier --write

feat(reply): init search route module
  projects/reply/src/app/app-routing.module.ts
  projects/reply/src/app/search/search-routing.module.ts
  projects/reply/src/app/search/search.component.html
  projects/reply/src/app/search/search.component.scss
  projects/reply/src/app/search/search.component.ts
  projects/reply/src/app/search/search.module.ts
  projects/reply/src/app/standalone/search-button/search-button.component.html
  projects/reply/src/app/standalone/search-button/search-button.component.ts
Due: eslint --fix, prettier --write

refactor(reply): redesign mail service
  projects/reply/src/app/core/nav/nav.component.ts
  projects/reply/src/app/mails/core/mail.model.ts
  projects/reply/src/app/mails/core/mail.service.ts
  projects/reply/src/app/mails/core/mails.mock.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mail/mail.component.ts
Due: eslint --fix, prettier --write

feat(reply): implement email starring
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.html
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.scss
  projects/reply/src/app/mails/core/mail-star-button/mail-star-button.component.ts
  projects/reply/src/app/mails/core/mail.service.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mail-card/mail-card.component.html
  projects/reply/src/app/mails/mail/mail.component.html
  projects/reply/src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

feat(reply): implement moving email to trash
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.html
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.scss
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.ts
  projects/reply/src/app/mails/mail-card/mail-card.component.html
  projects/reply/src/app/mails/mail/mail.component.html
  projects/reply/src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

feat(reply): implement mail deleting
  projects/reply/src/app/mails/core/mail-delete-button/mail-delete-button.component.ts
  projects/reply/src/app/mails/core/mail.service.ts
Due: eslint --fix, prettier --write

refactor(reply): extract mail avatar component
  projects/reply/src/app/mails/core/avatar-url-default.pipe.ts
  projects/reply/src/app/mails/core/mail-avatar/mail-avatar.component.html
  projects/reply/src/app/mails/core/mail-avatar/mail-avatar.component.scss
  projects/reply/src/app/mails/core/mail-avatar/mail-avatar.component.ts
  projects/reply/src/app/mails/mail-card/mail-card.component.html
  projects/reply/src/app/mails/mail/mail.component.html
  projects/reply/src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

fix(reply): fix mail card action color when read
  projects/reply/src/app/mails/mail-card/mail-card.component.scss
  projects/reply/src/app/mails/mail/mail.component.scss
Due: prettier --write

build: enable esModuleInterop
  projects/reply/src/app/mails/core/mails.mock.ts
  tsconfig.json
Due: eslint --fix, prettier --write

style: disable @typescript-eslint/no-empty-interface
  .eslintrc
Due: none

feat(reply): implement flip animation
  package-lock.json
  package.json
  projects/reply/src/app/flip/flip-item.directive.ts
  projects/reply/src/app/flip/flip-scope.directive.ts
  projects/reply/src/app/flip/flip.module.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.html
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.scss
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

feat(flip): extract as a library
  angular.json
  package-lock.json
  package.json
  projects/flip/README.md
  projects/flip/karma.conf.js
  projects/flip/ng-package.json
  projects/flip/package.json
  projects/flip/src/lib/flip-item.directive.spec.ts
  projects/flip/src/lib/flip-item.directive.ts
  projects/flip/src/lib/flip-scope.directive.spec.ts
  projects/flip/src/lib/flip-scope.directive.ts
  projects/flip/src/lib/flip.module.ts
  projects/flip/src/public-api.ts
  projects/flip/src/test.ts
  projects/flip/tsconfig.lib.json
  projects/flip/tsconfig.lib.prod.json
  projects/flip/tsconfig.spec.json
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.html
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mails.module.ts
  tsconfig.json
Due: eslint --fix, prettier --write

build(flip): avoid direct dependencies
  projects/flip/package.json
Due: prettier --write

fix(flip): allow optional config
  projects/flip/src/lib/flip-scope.directive.ts
Due: eslint --fix, prettier --write

fix(reply): fix layout config change detection issue
  projects/reply/src/app/core/layout.config.ts
Due: eslint --fix, prettier --write

refactor(reply): avoid memory leaks in nav component
  projects/reply/src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor(reply): avoid changeDetector.detectChanges()
  projects/reply/src/app/core/nav/nav.component.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.ts
  projects/reply/src/app/mails/mail/mail.component.ts
Due: eslint --fix, prettier --write

feat(reply): implement mailbox switching fade through animation
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.html
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.scss
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.ts
  projects/reply/src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

refactor(reply): explicitly specify grid-row style
  projects/reply/src/app/app.component.scss
  projects/reply/src/app/mails/mail-detail-layout/mail-detail-layout.component.scss
  projects/reply/src/app/mails/mail-list-layout/mail-list-layout.component.scss
Due: prettier --write

feat(reply): implement shared axis animation for mail list and mail detail
  projects/reply/src/app/app.component.scss
  projects/reply/src/app/core/animations.ts
  projects/reply/src/app/mails/mails.component.html
  projects/reply/src/app/mails/mails.component.scss
  projects/reply/src/app/mails/mails.component.ts
  projects/reply/src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

feat(flip): rename directive input
  projects/flip/src/lib/flip-scope.directive.ts
  projects/reply/src/app/mails/mail-card-list/mail-card-list.component.html
Due: eslint --fix, prettier --write

fix(flip): update element bounding info before flip
  projects/flip/src/lib/flip-scope.directive.ts
Due: eslint --fix, prettier --write

feat(reply): enable lazy-loading module preloading
  projects/reply/src/app/app-routing.module.ts
Due: eslint --fix, prettier --write

feat(reply): quit mail detail after deleting mail
  projects/reply/src/app/mails/mail/mail.component.html
Due: prettier --write

feat(reply): disable touch-actions other than panning
  projects/reply/src/styles/index.scss
Due: prettier --write

fix(reply): allow nav bottom menu scrolling
  projects/reply/src/app/core/nav-bottom-menu/nav-bottom-menu.component.scss
  projects/reply/src/app/core/nav/nav.component.html
  projects/reply/src/app/core/nav/nav.component.scss
Due: prettier --write

fix(reply): fix timeago.js locale
  projects/reply/src/app/standalone/date-distance.pipe.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{html,css,less,scss,sass,ts,js,json,md}
