Repository Char2sGu/reply: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: setup git hooks
  .husky/pre-commit
Due: none

test: add wsl test script
  package.json
Due: prettier --write

feat: setup inbox module
  src/app/app-routing.module.ts
  src/app/inbox/inbox-routing.module.ts
  src/app/inbox/inbox.component.html
  src/app/inbox/inbox.component.scss
  src/app/inbox/inbox.component.spec.ts
  src/app/inbox/inbox.component.ts
  src/app/inbox/inbox.module.ts
Due: eslint --fix, prettier --write

feat: customize title strategy
  src/app/app-routing.module.ts
  src/app/core/app.title-strategy.ts
Due: eslint --fix, prettier --write

feat: add redirection route to inbox as default
  src/app/app-routing.module.ts
Due: eslint --fix, prettier --write

feat: setup angular material
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/styles.scss
Due: eslint --fix, prettier --write

feat: set up global material typography styles
  src/index.html
Due: prettier --write

feat: adjust element prefix to "rpl"
  angular.json
  src/app/app.component.ts
  src/app/inbox/inbox.component.ts
  src/index.html
Due: eslint --fix, prettier --write

feat: initialize nav component
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.spec.ts
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: customize material theme
  src/styles.scss
Due: prettier --write

feat: customize material typography
  src/index.html
  src/styles.scss
Due: prettier --write

feat: implement breakpoint classes
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/core/breakpoint.manager.spec.ts
  src/app/core/breakpoint.manager.ts
Due: eslint --fix, prettier --write

feat: implement responsive layout
  src/app/app.component.html
  src/app/app.component.scss
  src/app/core/nav/nav.component.scss
  src/styles.scss
Due: prettier --write

refactor: move title strategy implementation into routing module
  src/app/app-routing.module.ts
  src/app/core/app.title-strategy.ts
Due: eslint --fix, prettier --write

refactor: split styles
  angular.json
  src/styles/_theming.scss
  src/styles/index.scss
Due: prettier --write

refactor: remove redundant font-family style
  src/styles/index.scss
Due: prettier --write

feat: set app background and nav background
  src/app/app.component.scss
  src/app/core/nav/nav.component.scss
  src/styles/_theming.scss
Due: prettier --write

feat: add material two-tone icon support
  src/app/app.component.ts
  src/app/app.module.ts
  src/styles/index.scss
Due: eslint --fix, prettier --write

feat: add logo svg
  src/assets/logo.svg
Due: none

feat: update favicon
  src/favicon.ico
Due: none

fix: add missing injectable decorator
  src/app/app-routing.module.ts
Due: eslint --fix, prettier --write

feat: add logo svg to material icon registry
  src/app/app.module.ts
Due: eslint --fix, prettier --write

feat: implement desktop nav logo
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: implement nav logo responsiveness
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: implement nav logo interactivity
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

feat: make nav logo a link
  src/app/core/nav/nav.component.html
  src/styles/index.scss
Due: prettier --write

feat: include both filled and two-tone style material icons
  src/app/app.module.ts
  src/styles/index.scss
Due: eslint --fix, prettier --write

feat: make nav logo a button
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

feat: fix nav height in mobile
  src/app/app.component.scss
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: move nav height style to component
  src/app/app.component.scss
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: disable overscroll behavior
  src/styles/index.scss
Due: prettier --write

refactor: rename breakpoints
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/core/breakpoint.manager.ts
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

feat: implement nav logo arrow on mobile
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: make nav logo a button
  src/app/core/nav/nav.component.html
Due: prettier --write

feat: avoid overlay covering the nav on phone
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement nav bottom menu displaying
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement nav bottom menu entering animation
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement nav bottom menu detaching
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor: clean up nav component implementation
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement nav bottom menu detaching on backdrop click
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{html,css,less,scss,sass,ts,js,json,md}
