Repository Char2sGu/reply: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: implement nav bottom menu detaching on screen size change
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

fix: avoid duplicate nav bottom menu detaching
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement nav menu content
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

feat: implement activated nav menu content item style
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: implement nav fab
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/styles/index.scss
Due: prettier --write

fix: fix nav side menu width
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: implement nav divider on laptop
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

feat: implement nav fab animation
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: adjust nav bottom menu padding
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: implement nav bottom menu leaving animation
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement nav bottom menu expanding
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: remove entering animation of nav elements
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement avatar and settings button on laptop
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/styles/index.scss
Due: prettier --write

refactor: extract nav menu component
  src/app/app.module.ts
  src/app/core/nav-menu/nav-menu.component.html
  src/app/core/nav-menu/nav-menu.component.scss
  src/app/core/nav-menu/nav-menu.component.spec.ts
  src/app/core/nav-menu/nav-menu.component.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

feat: implement bottom nav dented style
  src/app/app.component.scss
  src/app/core/nav/_clip-path.scss
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor: implement clipped bottom nav using the animation engine
  src/app/core/nav/_clip-path.scss
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: optimize nav animation
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor: extract nav avatar component
  src/app/app.module.ts
  src/app/core/nav-avatar/nav-avatar.component.html
  src/app/core/nav-avatar/nav-avatar.component.scss
  src/app/core/nav-avatar/nav-avatar.component.spec.ts
  src/app/core/nav-avatar/nav-avatar.component.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

feat: implement nav bottom menu avatar
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: adjust nav bottom menu avatar position
  src/app/core/nav/nav.component.scss
Due: prettier --write

fix: fix nav bottom menu leaving animation
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
  src/styles/_animation-curves.scss
Due: eslint --fix, prettier --write

refactor: move nav divider to nav menu component
  src/app/core/nav-menu/nav-menu.component.html
  src/app/core/nav-menu/nav-menu.component.scss
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: use customized icons for nav
  src/app/app.module.ts
  src/app/core/nav-menu/nav-menu.component.html
  src/assets/icons.svg
Due: eslint --fix, prettier --write

refactor: remove unused tow-tone icons
  src/app/app.module.ts
  src/styles/index.scss
Due: eslint --fix, prettier --write

feat: implement nav menu folders
  src/app/app.module.ts
  src/app/core/nav-menu/nav-menu.component.html
  src/app/core/nav-menu/nav-menu.component.scss
  src/app/core/nav-menu/nav-menu.component.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
Due: eslint --fix, prettier --write

refactor: avoid rendering extra nav menu on mobile
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor: optimize nav background implementation
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: adjust nav menu subheader style
  src/app/core/nav-menu/nav-menu.component.scss
Due: prettier --write

feat: prettify nav scroll bar
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: implement nav actions on phone
  src/app/app.module.ts
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.scss
  src/app/core/search-button/search-button.component.html
  src/app/core/search-button/search-button.component.scss
  src/app/core/search-button/search-button.component.spec.ts
  src/app/core/search-button/search-button.component.ts
  src/app/core/settings-button/settings-button.component.html
  src/app/core/settings-button/settings-button.component.scss
  src/app/core/settings-button/settings-button.component.spec.ts
  src/app/core/settings-button/settings-button.component.ts
Due: eslint --fix, prettier --write

feat: add material animation implementation from Tasked
  src/app/shared/animations.ts
Due: eslint --fix, prettier --write

feat: implement fade through transition for nav actions
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

fix: fix fade through transition of nav actions
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement basic mail card list
  src/app/inbox/inbox.component.html
  src/app/inbox/inbox.component.scss
  src/app/inbox/inbox.module.ts
  src/app/shared/mail-card-list/mail-card-list.component.html
  src/app/shared/mail-card-list/mail-card-list.component.scss
  src/app/shared/mail-card-list/mail-card-list.component.spec.ts
  src/app/shared/mail-card-list/mail-card-list.component.ts
  src/app/shared/mail-card/mail-card.component.html
  src/app/shared/mail-card/mail-card.component.scss
  src/app/shared/mail-card/mail-card.component.spec.ts
  src/app/shared/mail-card/mail-card.component.ts
Due: eslint --fix, prettier --write

refactor: move mail list container style to app component
  src/app/app.component.scss
  src/app/inbox/inbox.component.scss
Due: prettier --write

fix: remove webkit-tap-highlight-color
  src/styles/index.scss
Due: prettier --write

feat: optimize scrollbar position on phone
  src/app/app.component.scss
Due: prettier --write

feat: customize mail card list scrollbar
  src/app/app.component.scss
  src/app/core/nav/nav.component.scss
  src/styles/_scrollbar.scss
Due: prettier --write

feat: implement floating search button
  src/app/app.component.html
  src/app/app.component.scss
Due: prettier --write

style: disable eslint "no-unneeded-ternary"
  .eslintrc
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{html,css,less,scss,sass,ts,js,json,md}
