Repository Char2sGu/reply: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: use streams for event handling
  src/app/core/nav/nav.component.html
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

feat: implement nav collapsing when scrolling down on phone
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/nav/nav.component.scss
  src/app/core/nav/nav.component.ts
  src/app/shared/directional-scroll-events/directional-scroll-events.directive.spec.ts
  src/app/shared/directional-scroll-events/directional-scroll-events.directive.ts
Due: eslint --fix, prettier --write

fix: fix nav collapsing on non-phone
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: update mail card style on phone
  src/app/shared/mail-card/mail-card.component.scss
Due: prettier --write

feat: optimize nav bottom menu avatar bar
  src/app/core/nav/nav.component.scss
Due: prettier --write

refactor: reorganize styles
  src/app/core/nav-menu/nav-menu.component.scss
  src/app/core/nav/nav.component.scss
  src/app/shared/mail-card/mail-card.component.scss
  src/styles/_theming.scss
  src/styles/index.scss
Due: prettier --write

refactor: move nav avatar into shared
  src/app/app.module.ts
  src/app/core/nav-avatar/nav-avatar.component.ts
  src/app/core/nav/nav.component.html
  src/app/shared/avatar/avatar.component.html
  src/app/shared/avatar/avatar.component.scss
  src/app/shared/avatar/avatar.component.spec.ts
  src/app/shared/avatar/avatar.component.ts
  src/app/shared/directional-scroll-events/directional-scroll-events.directive.ts
Due: eslint --fix, prettier --write

feat: implement mail card actions
  src/app/shared/mail-card/mail-card.component.html
  src/app/shared/mail-card/mail-card.component.scss
  src/app/shared/mail-card/mail-card.component.ts
Due: eslint --fix, prettier --write

feat: update svg icons
  src/assets/icons.svg
Due: none

refactor: reorganize routing
  src/app/app-routing.module.ts
  src/app/app.component.scss
  src/app/core/nav-menu/nav-menu.component.html
  src/app/inbox/inbox-routing.module.ts
  src/app/inbox/inbox.component.html
  src/app/inbox/inbox.component.scss
  src/app/inbox/inbox.component.ts
  src/app/inbox/inbox.module.ts
  src/app/mails/mail-card-list/mail-card-list.component.html
  src/app/mails/mail-card-list/mail-card-list.component.scss
  src/app/mails/mail-card-list/mail-card-list.component.spec.ts
  src/app/mails/mail-card-list/mail-card-list.component.ts
  src/app/mails/mail-card/mail-card.component.html
  src/app/mails/mail-card/mail-card.component.scss
  src/app/mails/mail-card/mail-card.component.spec.ts
  src/app/mails/mail-card/mail-card.component.ts
  src/app/mails/mails-routing.module.ts
  src/app/mails/mails.component.html
  src/app/mails/mails.component.scss
  src/app/mails/mails.component.spec.ts
  src/app/mails/mails.component.ts
  src/app/mails/mails.module.ts
  src/app/shared/mail-card/mail-card.component.ts
Due: eslint --fix, prettier --write

feat: add gap to mail card actions
  src/app/mails/mail-card/mail-card.component.scss
Due: prettier --write

feat: add delivery.png
  src/app/shared/avatar/avatar.component.html
  src/app/shared/avatar/avatar.component.ts
  src/assets/delivery.png
Due: eslint --fix, prettier --write

feat: update favicon
  src/favicon.ico
Due: none

refactor: rename delivery.png to express.png
  src/app/shared/avatar/avatar.component.ts
  src/assets/express.png
Due: eslint --fix, prettier --write

feat: use official express.png from flutter gallery
  src/assets/express.png
Due: none

feat: use local avatars instead of fetching just in time
  src/app/shared/avatar/avatar.component.ts
  src/assets/avatar-1.jpg
  src/assets/avatar-2.jpg
  src/assets/avatar-3.jpg
  src/assets/avatar-4.jpg
  src/assets/avatar-5.jpg
  src/assets/avatar-express.png
  src/assets/express.png
Due: eslint --fix, prettier --write

fix: fix small layout issues
  src/app/app.component.scss
  src/app/core/nav/nav.component.scss
  src/app/mails/mails.component.scss
Due: prettier --write

feat: make nav avatar an icon button
  src/app/core/nav/nav.component.html
Due: prettier --write

fix: fix angular material icon button layout
  src/styles/index.scss
Due: prettier --write

refactor: add missing display: block for nav
  src/app/core/nav/nav.component.scss
Due: prettier --write

feat: update mail card avatar button background color when hovered
  src/app/mails/mail-card/mail-card.component.html
  src/app/mails/mail-card/mail-card.component.scss
Due: prettier --write

refactor: avoid injecting components
  src/app/app.component.ts
  src/app/core/layout.service.spec.ts
  src/app/core/layout.service.ts
  src/app/core/nav/nav.component.ts
Due: eslint --fix, prettier --write

refactor: move search button and settings button to shared
  src/app/app.module.ts
  src/app/shared/search-button/search-button.component.html
  src/app/shared/search-button/search-button.component.scss
  src/app/shared/search-button/search-button.component.spec.ts
  src/app/shared/search-button/search-button.component.ts
  src/app/shared/settings-button/settings-button.component.html
  src/app/shared/settings-button/settings-button.component.scss
  src/app/shared/settings-button/settings-button.component.spec.ts
  src/app/shared/settings-button/settings-button.component.ts
Due: eslint --fix, prettier --write

refactor: adjust layout structure
  src/app/app.component.html
  src/app/app.component.scss
  src/app/mails/mails-routing.module.ts
  src/app/mails/mails.component.html
  src/app/mails/mails.component.scss
  src/app/mails/mails.component.ts
  src/app/mails/mails.module.ts
  src/styles/index.scss
Due: eslint --fix, prettier --write

fix: fix nav collapsing on content scroll down
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/mails/mails.component.html
  src/app/mails/mails.component.ts
  src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

feat: redesign route paths
  src/app/app-routing.module.ts
  src/app/core/nav-menu/nav-menu.component.html
  src/app/mails/mails-routing.module.ts
Due: eslint --fix, prettier --write

feat: initialize mail detail route
  src/app/mails/mail-detail-layout/mail-detail-layout.component.html
  src/app/mails/mail-detail-layout/mail-detail-layout.component.scss
  src/app/mails/mail-detail-layout/mail-detail-layout.component.spec.ts
  src/app/mails/mail-detail-layout/mail-detail-layout.component.ts
  src/app/mails/mail-list-layout/mail-list-layout.component.html
  src/app/mails/mail-list-layout/mail-list-layout.component.scss
  src/app/mails/mail-list-layout/mail-list-layout.component.spec.ts
  src/app/mails/mail-list-layout/mail-list-layout.component.ts
  src/app/mails/mails-routing.module.ts
  src/app/mails/mails.component.html
  src/app/mails/mails.component.ts
  src/app/mails/mails.module.ts
Due: eslint --fix, prettier --write

feat: create data models
  src/app/mails/shared/mail.model.ts
  src/app/shared/contact.model.ts
Due: eslint --fix, prettier --write

feat: create date distance pipe
  package-lock.json
  package.json
  src/app/mails/mails.module.ts
  src/app/shared/date-distance.pipe.spec.ts
  src/app/shared/date-distance.pipe.ts
  src/app/shared/directional-scroll-events.directive.spec.ts
  src/app/shared/directional-scroll-events.directive.ts
Due: eslint --fix, prettier --write

feat: populate mail cards with mock data
  package-lock.json
  package.json
  src/app/mails/mail-card-list/mail-card-list.component.html
  src/app/mails/mail-card-list/mail-card-list.component.ts
  src/app/mails/mail-card/mail-card.component.html
  src/app/mails/mail-card/mail-card.component.scss
  src/app/mails/mail-card/mail-card.component.ts
  src/app/mails/mails.module.ts
  src/app/mails/shared/mails.ts
  src/app/shared/contact.model.ts
  src/app/shared/date-distance.pipe.ts
  src/assets/avatar-6.jpg
  src/styles/_theming.scss
Due: eslint --fix, prettier --write

feat: use fixed avatar for nav avatar button
  src/app/app.module.ts
  src/app/core/nav-avatar-button/nav-avatar-button.component.html
  src/app/core/nav-avatar-button/nav-avatar-button.component.scss
  src/app/core/nav-avatar-button/nav-avatar-button.component.spec.ts
  src/app/core/nav-avatar-button/nav-avatar-button.component.ts
  src/app/core/nav/nav.component.html
  src/app/mails/mails.module.ts
  src/app/shared/avatar/avatar.component.html
  src/app/shared/avatar/avatar.component.scss
  src/app/shared/avatar/avatar.component.spec.ts
  src/app/shared/avatar/avatar.component.ts
Due: eslint --fix, prettier --write

style: break line after the injectable decorator
  src/app/core/breakpoint.manager.ts
  src/app/core/layout.service.ts
  src/app/mails/mails-routing.module.ts
Due: eslint --fix, prettier --write

refactor: add tracker for ngFor directives
  src/app/mails/mail-card-list/mail-card-list.component.html
  src/app/mails/mail-card-list/mail-card-list.component.ts
Due: eslint --fix, prettier --write

feat: implement read state of mail c ard
  src/app/mails/mail-card/mail-card.component.html
  src/app/mails/mail-card/mail-card.component.scss
  src/app/mails/mail-card/mail-card.component.ts
  src/app/mails/shared/mail.service.spec.ts
  src/app/mails/shared/mail.service.ts
Due: eslint --fix, prettier --write

feat: config mail detail layout grid columns
  src/app/mails/mail-detail-layout/mail-detail-layout.component.html
  src/app/mails/mail-detail-layout/mail-detail-layout.component.scss
Due: prettier --write

feat: implement mail card router link
  src/app/mails/mail-card-list/mail-card-list.component.html
  src/app/mails/mail-card-list/mail-card-list.component.scss
Due: prettier --write

refactor: use mail service in mail card list
  src/app/mails/mail-card-list/mail-card-list.component.html
  src/app/mails/mail-card-list/mail-card-list.component.ts
  src/app/mails/shared/mail.service.ts
Due: eslint --fix, prettier --write

feat: improve accessibility of mail cards
  src/app/mails/mail-card-list/mail-card-list.component.html
  src/app/mails/mail-card-list/mail-card-list.component.scss
  src/app/mails/mail-card/mail-card.component.html
  src/app/mails/mail-card/mail-card.component.scss
  src/app/mails/mail-card/mail-card.component.ts
  src/styles/index.scss
Due: eslint --fix, prettier --write

feat: mark mail as read in mail detail page
  src/app/mails/mail-card/mail-card.component.ts
  src/app/mails/mail-detail-layout/mail-detail-layout.component.html
  src/app/mails/mail-detail-layout/mail-detail-layout.component.scss
  src/app/mails/mail/mail.component.html
  src/app/mails/mail/mail.component.scss
  src/app/mails/mail/mail.component.spec.ts
  src/app/mails/mail/mail.component.ts
  src/app/mails/mails.module.ts
  src/app/mails/shared/mail.service.ts
Due: eslint --fix, prettier --write

feat: implement mail list page empty state
  src/app/mails/mail-list-layout/mail-list-layout.component.html
  src/app/mails/mail-list-layout/mail-list-layout.component.scss
  src/app/mails/mail-list-layout/mail-list-layout.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{html,css,less,scss,sass,ts,js,json,md}
